

<h1 class="h1">Choose your Food-Drink</h1>
<div id="app">
  <div v-if="!products.length" class="cart-checkout">
    <p>Cart is empty.</p>
  </div>
  <div v-if="checkout" class="cart-checkout">
    <p>Thank you for your order!</p>
    <transition-group  name="order-group" tag="div" class="cart-products" appear>
      <img  v-for="product in products"
           @click="checkoutCart"
           :key="product.id" 
           :src="product.img" 
           :alt="product.name"/>
    </transition-group>
  </div>
  <transition v-else name="fade-up" >
    <transition-group  name="products-group" tag="div" class="products">
      <div class="product" v-for="product in products" :key="product.id">
          <img :src="product.img" :alt="product.name"/>
          <div class="description">
            <h4>{{product.name}}</h4>
            <p>+Fry</p>
            <transition name="change-price">
              <span class="price">${{product.price}}</span>
            </transition>
          </div>
          <div class="quantity">
            <button @click="add(product)" class="btn add"><i class="fas fa-chevron-up"></i></button>
            <transition name="scale" mode="out-in">
              <span :key="product.quantity" class="number scale-animation">{{product.quantity}}</span>
            </transition>
            <button @click="decrease(product)" class="btn remove"><i class="fas fa-chevron-down"></i></button>
          </div>
      </div>
    </transition-group>
  </transition>
  <div class="checkout">
    <div class="total">Total: 
      <transition name="scale" mode="out-in">
        <span :key="sum" class="scale-animation">{{sum.toFixed(2)}}</span>
      </transition>
    </div>
    <transition name="opacity" mode="out-in">
      <button :disabled="!products.length" v-if="!checkout" @click="checkoutCart">Checkout</button>
    </transition>
  </div>
</div> 
